/*Color Palette 
Grey rgba(80, 81, 79, 1) #50514f
Red rgba(242, 95, 92, 1) #f25f5c 
Yellow rgba(255, 224, 102, 1) #ffe066
Blue rgba(36, 123, 160, 1) #247ba0 
Light Blue rgba(112, 193, 179, 1) #70c1b3  
Light Green rgba(127, 205, 145, 1) #7fcd91*/

/*reset*/
body{
	margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction:column; 
}

/*Global
-------------------------------------------------------------------------------------------*/
html{
    background-image: linear-gradient(to top, #0b729ee5 0%, #ffffff 100%);
    font-family: 'Nanum Myeongjo', serif;

    /* Resize the background image to cover the entire container, 
    even if it has to stretch the image 
    or cut a little bit off one of the edges */
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

h1, #gallery{
  color: rgb(107, 107, 107);
  text-align: center;
  margin: 2%;
}

h2{
  color: rgb(107, 107, 107);
  text-align: center;
  margin: 4%;
}


/*Nav Style
-------------------------------------------------------------------------------------------*/
nav {
   font-size: 1rem;
   display: flex;
   align-items: center;
   height: 2.5rem;
}

.navbar{
    list-style-type: none;
    padding: 0;
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
}

.navbar a{
    color: rgb(107, 107, 107);
    text-decoration: none;
    margin-left:3rem;
    white-space: nowrap;
}

.navbar a:hover {
    color: rgb(37, 37, 37);
}

.navbar .current {
    color: rgb(37, 37, 37);
    text-decoration: underline;
}



/*footer
-------------------------------------------------------------------------------------------*/
footer{
  margin-top: auto;
}

footer p{
  text-align: center;
}



/* index.html specific styles 
-------------------------------------------------------------------------------------------*/
.indexDiv{
  margin-top: 3%;
  display: flex;
  justify-content: center;
} 

/* 
.indexDiv is the parent container and contains those 3 divs with ids:
imageDiv, quoteDiv, audioDiv */

#quoteDiv{
  width: 30%;
  text-align: center;
  margin-top: 2%;
  margin-left: 3%;
}

#audioDiv{
  font-family: 'Sue Ellen Francisco', cursive;
  text-align: center;
  font-size: 3rem;
}


/* destination.html specific styles 
-------------------------------------------------------------------------------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2% 0 2%;
}

.column {
  flex: 10%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 1%;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

.column img:hover {
  -moz-box-shadow: 0 0 7px white;
  -webkit-box-shadow: 0 0 7px white;
  box-shadow: 0px 0px 7px white;
  -webkit-transform: scale(1.15,1.15);
}

.focus{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    display: none;
}



/* fleet.html specific styles 
-------------------------------------------------------------------------------------------*/
table,th,td{
  font-size: 1em;
  width: auto;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.459);
  border-collapse: collapse;
}

th{
  color: rgb(107, 107, 107);
}

tr{
  color: rgb(41, 41, 41);
}

th,tr:hover{
  background-color: rgba(255, 255, 255, 0.5);
}


td img{
    width: 200px;
}

.boatName{
  font-family: 'Sacramento', sans-serif;
  font-size: 50px;
}


td img:hover {
  -moz-box-shadow: 0 0 7px white;
  -webkit-box-shadow: 0 0 7px white;
  box-shadow: 0px 0px 7px white;
  -webkit-transform: scale(1.5,1.5);
}



/* contact.html specific styles 
-------------------------------------------------------------------------------------------*/
.contact{
  display: flex;
  text-align: center;
  margin-left: 1%;
  margin-right: 2%;
}

/*this is the div that contains the form*/
.container{
    flex-grow: 2;
    height: max-content;
}

/*this is the div that contains the map*/
.osmap{
  flex-grow: 1;
}

.osmap iframe{
  width:75%; 
  height: 55%;
}

.osmap a{
  float: center;
}

.osmap address{
  padding: 3%;
}

/*style the whole form*/
form {
    height: 72%;
    width: 55%;
    background-color: rgba(255, 255, 255, 0.90);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    -webkit-box-shadow: -1px 1px 5px 2px  rgba(253, 251, 251, 0.2);
    -moz-box-shadow: -1px 1px 5px 2px  rgba(253, 251, 251, 0.2);
    box-shadow: -1px 1px 5px 2px rgba(253, 251, 251, 0.2);
}

/*style form labels*/
label{
   margin-top: 20px;
   margin-bottom: 3px;
   float: left;
}

/*style form input - the area where the user writes(*/
input{
    width: 100%;
    display: block;
    background-color: rgba(51, 51, 50, 0.2) ;
    border: none;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color:  rgba(36, 123, 160, 1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    padding: 4px;
    width: 25%;
    font-weight: 700;
  }

  input[type=submit]:hover {
    background-color: rgb(27, 93, 121);

  }

  #message{
    height: 30%;
  }




/* tablet view //this is only applied in Gallery 
-------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1200px){
    .column{
        flex: 30%;
        max-width: 50%;
    }
}

/* mobile view available for all pages 
-------------------------------------------------------------------------------------------*/
@media screen and (max-width: 835px){
    .navbar{
      display: none;
      flex-direction:column;
   } 

   .burger{
      cursor: pointer;
      position: absolute;
      right: 10%;
      top: 9px;
   }

   .burger div{
      width: 25px;
      height:2px;
      background-color: rgb(41, 41, 41);
      margin: 5px;
   }

   .navbar li{
     margin-top: 12px;
   }

   h1, h2{
    margin: 1%;
   }

   /* index page */
   .indexDiv{
    flex-direction:column;
   }

   #imageDiv{
     align-self: center;
   }

   #quoteDiv{
    height: 200px;
    width: 65%;
    margin-left: 20%;
  }

   /* destinations page */
  .column {
    flex: 100%;
    max-width: 35%;
    margin-left: 50px;
  }


  /* our fleet page */
  td img{
    width: 100px;
    }


  /* contact page */
  .contact{
    flex-direction: column;
  }

  form{
    width: 80%;
  }
  #message{
    height: 100px;
  }

  .osmap{
    padding: 2%;
  }

  .osmap address{
    padding:0%;
    padding-bottom: 2%;
  }
} 


